.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
}

.enemyInfo {
  align-self: flex-end;
  text-align: right;
}

/* Hero info normale, non assoluta */
.heroInfo {
  text-align: left;
  margin-left: 0.5rem;
}

/* Zona centrale (vuota o animazioni) */
.arena {
  flex-grow: 1;
  position: relative;
}

.battleLog {
  flex-grow: 0.5;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  mask-image: linear-gradient(to top, transparent 0%, black 70%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 70%);
}

/* Zona hero + azioni in basso */
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

/* Azioni in basso */
.actionsGrid {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  width: 90vw;
  max-width: 500px;
  gap: 1rem;
}

.button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  filter: brightness(85%);
}

/*contenitore healthbar*/
.barContainer {
  margin-top: 0.25rem;
  width: 50vw;
  max-width: 150px;
}